Flask==0.10.1
functools32==3.2.3.post2
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
MarkupSafe==0.23
pathlib==1.0.1
PyYAML==3.11
requests==2.10.0
six==1.10.0
strict-rfc3339==0.7
swagger-spec-validator==2.0.2
Werkzeug==0.11.9
